/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color:rgb(87, 42, 10);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 15px;
    height: 250px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #db6f0a;
    overflow: hidden;
}

nav ul li {
    float: left;
    width:140px;
    height:46px;
}

nav li a {
    display: block;
    color:rgb(87, 42, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    background-color: #ffa743;
}

nav li a.active {
    background-color: #9c5009;
}

