/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #ffa743;
    color: #303030;
    font:Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color:rgb(87, 42, 10);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

.textstyle{
    color:rgb(87, 42, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {
  color:rgb(158, 77, 20);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color:rgb(87, 42, 10);
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color:rgb(46, 23, 7);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:rgb(87, 42, 10);
  background-color: transparent;
  text-decoration: underline;
}

#Zeus{
    border:double rgb(87, 42, 10) 6px;
    margin-bottom: 10px;
    margin-top:7px;
}

.border{ 
    border: double rgb(87, 42, 10) 6px;
    margin-bottom: 10px;
}

.tekstgrootte{
    font-size: 18px;
}
.tekstgrootte2{
    font-size: 15px;
}

table, th, td {
    border: 2px solid rgb(87, 42, 10);
    font-size: 14px;
}
table{
    margin-left: 100px;
    margin-top: 7px;
    width: 500px;
}

button{
    margin-bottom: 7px;
    color:rgb(87, 42, 10);
    margin-left: 250px;
    background-color:#db6f0a;
}

/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #db6f0a;
    overflow: hidden;
}

nav ul li {
    float: left;
    width:140px;
    height:46px;
}

nav li a {
    display: block;
    color:rgb(87, 42, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    color:rgb(87, 42, 10);
    background-color: #c9660a;
}

nav li a.active {
    background-color: #8f4c0d;
    text-decoration: none;
}

nav li a:link {
    text-decoration: none;
}

/* foto's */

img.goden-rechts{
    float:right;
    margin-left:10px;
    width:75px;
    height:135px;
    margin-bottom:3px;
    padding-top: 2px;
    padding-right: 2px;
}

img.goden-rechts2{
    float:right;
    margin-left:10px;
    width:85px;
    height:135px;
    margin-bottom:3px;
    padding-top: 2px;
    padding-right: 2px;
}

img.goden-links{
    float:left;
    margin-right:10px;
    width:110px;
    height:155px;
    margin-bottom:3px;
    padding-top: 2px;
    padding-left: 2px;
}

img.foto-rechts {
    float:right;
    margin-left:10px;
    height:220px;
    width:280px;
}

img.foto-links {
    float:left;
    margin-right:10px;
    height:275px;
    width:300px;
}

img.foto-onder {
    position: relative;
    left:100px;
    height:200px;
    width:500px;
}

/* Animaties */
@keyframes slide {
    0%{
        left: -1000px;
    }
    100%{
        left: 100px;
    }
}

.slide{
    position:relative;
    animation: slide 4s;
}

@keyframes kleur {
    0%{  
        color:rgb(87, 42, 10);
    }
    25%{   
        color:rgb(124, 60, 13);
    }
    50%{
        color:rgb(158, 76, 17);
     }
     75%{
        color:rgb(196, 94, 22);
     }
     100%{
        color:rgb(253, 123, 30);
     }
}

.kleur{
    animation: kleur 5s infinite;
}